.input-table {
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.input-table .summary {
    width: 8%;
    text-align: left;
}
.input-table .input {
    width: 50%;
    padding-top: 10px;
}
.input-table .input p {
    display: flex;
}
.input-table .input p .simple-inputtext {
    margin-left: 5px;
}

.output-area {
    width: 100%;
    text-align: center;
}
.output-area .output-line {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}
.output-area .output-line .simple-inputtext {
    width: 50%;
    height: 40px;
}
.output-area .output-line .round-rect-button {
    font-size: small;
    margin-left: 10px;
    height: 40px;
}
