.input-table {
    width: 70%;
    height: 30px;
    line-height: 30px;
}
.input-table .checkbox {
    width: 5%;
}
.input-table .summary {
    width: 20%;
    min-width: 150px;
    text-align: left;
}
.input-table .input {
    max-width: 75%;
    min-width: 270px;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    padding-top: 10px;
}
.input-table .input input {
    height: 40px;
    float: left;
    width: 100%;
}
.input-table .input p {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}
.input-table .input p .simple-inputtext {
    margin-left: 5px;
    margin-bottom: 0px;
}

.output-area {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.output-area .output-line {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}
.output-area .output-line .simple-inputtext {
    width: 50%;
    height: 40px;
}
.output-area .output-line .round-rect-button {
    font-size: small;
    margin-left: 10px;
    height: 40px;
}

.simple-select {
    max-width: 200px;
}

tr {
    height: 40px;
}

.input_date {
    max-width: 150px;
}
.input_date_time {
    max-width: 150px;
    margin-left: 10px;
}

.summary-and-preset-box {
    display: flex;
    flex-wrap: wrap;
}
.summary-and-preset-box .summary {
    width: 60%;
    min-width: 300px;
}
.summary-and-preset-box .preset-box {
    display: flex;

    margin-right: 10px;
    padding-left: 30px;
    
    margin-bottom: 10px;
}
.summary-and-preset-box .preset-box input {
    width: 200px;
    height: 40px;
}
.summary-and-preset-box .preset-box a {
    width: fit-content;
    height: fit-content;
}
.summary-and-preset-box .preset-box .round-rect-button {
    width: 100px;
    height: 40px;

    font-size: 16px;
    line-height: 16px;
}
.preset-boxes {
    display: block;
    margin-top: 10px;
}
