.box-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.app-list {
    height: fit-content;
}

.box-wrap {
    width: 240px;
    height: 260px;
    padding: 0px;
}
.box-horizon-wrap {
    width: 380px;
    height: 150px;
    padding: 0px;
    margin-bottom: 10px;
}
.box {
    width: 90%;
    height: 90%;
    
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    border-radius: 8px;
    box-shadow: 0 3px 6px #ccc;
    background-color: #fafafa;

    word-break: break-all;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.box:hover {
    box-shadow: 0 10px 20px #ccc;
    background-color: #fff;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.box img {
    height: 30%;
}
.box .tool-title {
    width: 100%;

    font-size: 19px;
    text-align: center;
}
.box .summary {
    font-size: 14px;
    margin: 0px;
    padding: 5px;
}
.box .summary-center {
    font-size: 14px;
    margin: 0px;
    padding: 5px;

    text-align: center;
}

.box-nobreak {
    width: 90%;
    height: 90%;
    
    padding: 0px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    border-radius: 8px;
    box-shadow: 0 3px 6px #ccc;
    background-color: #fafafa;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.box-nobreak:hover {
    box-shadow: 0 10px 20px #ccc;
    background-color: #fff;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.box-nobreak img {
    height: 30%;
    padding: 10%
}
.box-nobreak .tool-title {
    width: 100%;

    font-size: 20px;
    text-align: center;
}
.box-nobreak .summary {
    font-size: 14px;
    margin: 0px;
    padding: 5px;
}
.box-nobreak .summary-center {
    font-size: 14px;
    margin: 0px;
    padding: 5px;

    text-align: center;
}

.box-horizon {
    display: flex;
    max-width: 400px;
    > div {
        height: 100%;
        text-align: left;
    }
    img {
        width: 20%;
        height: 75%;
    }
    .tool-title {
        text-align: left;
        margin-left: 5px;
    }
    .box-horizon-text {
        width: 70%;
        margin-left: 10px;
    }
}
