.button-area-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.round-rect-button {
    border-radius: 4px;
    border: solid 1px;
    border-color: #0088ee;

    font-size: 26px;

    width: 150px;
    padding: 10px;
    text-align: center;

    margin-left: 10px;
    margin-right: 10px;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.round-rect-button:hover {
    border-color: #00ccff;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.round-rect-button .big-text {
    font-size: 22px;
}
.round-rect-button .big-text-white {
    font-size: 22px;
    color: #fff;
}
.round-rect-button .middle-text {
    font-size: 16px;
    line-height: 20px;
}
.round-rect-button .middle-text-white {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
}

.simple-img-button {
    display: flex;
    align-content: center;
    justify-content: center;

    height: fit-content;
}
.simple-img-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
