footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 50px;
}

footer a {
    color: #0088dd;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
footer a:hover {
    color: #00aaff;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#footer-wrap {
    font-size: 14px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    height: 100%;

    text-align: center;
}
