#header {
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;

    background-color: #333;
}

#header_wrap {
    display: flex;
	justify-content: center;
	align-items: center;
}

#header_objects {
    width: 100%;
    max-width: 1200px;
}

#logo {
    width: 200px;
    margin: 30px 0px 30px 0px;
}