body {
    font-family: "ヒラギノ角ゴシック W2","Hiragino Kaku Gothic W2","HiraginoSans-W2","ヒラギノ角ゴシック","Hiragino Kaku Gothic",
                    "Arial",
                    "Noto Sans CJK JP",
                    "Segoe UI",
                    Roboto,
                    "YuGothic", YuGothic,
                    "Hiragino Sans",
                    "メイリオ", Meiryo,
                    "VL PGothic",
                    "Droid Sans Japanese", "Droid Sans",
                    "Takaoゴシック","TakaoGothic",
                    "ＭＳ Ｐゴシック", "MS PGothic",
                    "Nunito Sans",
                    sans-serif;

    width: 100%;
    margin-left: 0;
    margin-right: 0;

    margin: 0;
    background-color: #f8f8f8;
    color: #4b4b4b;

    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
    box-sizing: border-box;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #4b4b4b;
}

li {
    margin: 5px 0px 5px 0px;
}

header {
    width: 100%;
    margin-bottom: 50px;

    background-color: #333;

    height: 100px;

    display: flex;
    align-content: center;
}

#header {
    width: 100%;
    max-width: 1200px;
    max-height: 100px;

    display: flex;
}

#wrap {
    overflow: hidden;

    position: relative;

    display: flex;
    justify-content: center;

    height: fit-content;
}

#contents-wrap {
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
}

.column {
    width: 100%;
    display: block;
    margin-bottom: 50px;
}
.column .title {
    width: 100%;
    
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
}
.column .title img {
    height: 48px;
    margin-right: 20px;
}

.title {
    width: 100%;
    
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
}
.title img {
    height: 48px;
    margin-right: 20px;
}

.summary {
    margin: 20px 0px 0px 10px;
}
.summary a {
    color: #0088dd;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.summary a:hover {
    color: #00aaff;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.flex-width100p-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.update_table {
    border-spacing: 20px 5px;
}

.blue_link {
    color: #00aaff;
}
.blue_link:hover {
    color: #0077ff;
}

.information {
    display: flex;
}
.information .right {
    margin-right: 0px;
}
