#textareas {
    width: 100%;
    min-width: 500px;
}

.left-objs {
    width: 40%;
    min-width: 200px;
    float: left;
}

.center-objs {
    width: 20%;
    min-width: 100px;
    height: 450px;
    float: left;

    display: table;
    text-align: center;
}
.inner {
    display:table-cell;
    vertical-align:middle;
}

.right-objs {
    width: 40%;
    min-width: 200px;
    float: right;
}

#input-textarea {
    background-color: #fff;
    white-space: pre-wrap;

    height: 450px;

    padding: 10px;
    border: solid 1px #000000;
    border-radius: 5px;
}

#output-textarea {
    background-color: #fff;
    white-space: pre-wrap;

    height: 450px;

    padding: 10px;
    border: solid 1px #000000;
    border-radius: 5px;
}
