#visible_canvas_area {
    display: block;
}

#img-input {
    width: 100px;
    height: 100px;

    margin-left: auto;
    margin-right: auto;
}

#img-output {
    width: 100px;
    height: 100px;

    margin-left: auto;
    margin-right: auto;
}

#arrow_down {
    width: 64px;
    height: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.result_summary {
    margin-top: 20px;
    margin-bottom: 20px;
}
