.input-table {
    width: 50%;
    min-width: 500px;
    height: 30px;
    line-height: 30px;
}
.input-table .summary {
    width: 30%;
    text-align: left;
}
.input-table .summary .checkbox {
    float: left;
}
.input-table .input {
    width: 80%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.input-table .input .simple-inputtext {
    width: 100px;
    padding-top: 10px;
}
.input-table .wide {
    width: 100%;
    text-align: left;
}

.output-area {
    width: 100%;
    text-align: center;
}

.random_options {
    display: none;
}
.random_options.is_show {
    display: block;
}
