.memo-paper-area {
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
}

.memo-paper {
    width: 30%;
    min-width: 200px;
    height: fit-content;
    min-height: 200px;

    box-shadow: 0 3px 6px #ccc;

    margin: 5px;
    padding: 10px;
}
.memo-paper .title {
    font-size: 26px;
    font-weight: bold;
}
.memo-paper .date {
    font-size: 16px;
    margin: 5px 0px 5px 0px;
}
.memo-paper .text {
    font-size: 20px;
}
