.memo-paper-area {
    margin: 30px 0px 30px 0px;
    width: 100%;
    min-height: 250px;
    padding: 10px;

    -webkit-column-count: 3;
    -webkit-column-gap:   10px;
    -moz-column-count:    3;
    -moz-column-gap:      10px;
    column-count:         3;
    column-gap:           10px;
    
}
@media (max-width: 700px) {
    .memo-paper-area {
        -webkit-column-count: 2;
        -webkit-column-gap:   0px;
        -moz-column-count:    2;
        -moz-column-gap:      0px;
        column-count:         2;
        column-gap:           10px;
    }
}
@media (max-width: 300px) {
    .memo-paper-area {
        -webkit-column-count: 1;
        -webkit-column-gap:   0px;
        -moz-column-count:    1;
        -moz-column-gap:      0px;
        column-count:         1;
        column-gap:           10px;
    }
}

.memo-paper {
    width: 90%;
    min-width: 200px;
    height: fit-content;
    min-height: 200px;
    max-height: 400px;

    box-shadow: 0 3px 6px #ccc;

    padding: 10px;

    page-break-inside: avoid;
    break-inside: avoid;
    break-after: avoid;
    -webkit-break-inside: avoid;
    -webkit-break-after: avoid;
}
.memo-paper .title-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.memo-paper .title {
    font-size: 26px;
    font-weight: bold;
    width: fit-content;
}
.memo-paper .date {
    font-size: 16px;
    margin: 5px 0px 5px 0px;
}
.memo-paper .text {
    font-size: 20px;
    max-height: 300px;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    page-break-inside: avoid;
    break-inside: avoid;
}
.memo-paper .text::-webkit-scrollbar {
    display: none;
}
