.memo-paper-area {
    margin: 30px 0px 30px 0px;
    width: 100%;

    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;
}

.memo-paper {
    width: 90%;
    min-width: 200px;
    height: fit-content;
    min-height: 200px;

    box-shadow: 0 3px 6px #ccc;

    margin: 5px;
    padding: 10px;

    page-break-inside: avoid;
    break-inside: avoid;
}
.memo-paper .title {
    font-size: 26px;
    font-weight: bold;
}
.memo-paper .date {
    font-size: 16px;
    margin: 5px 0px 5px 0px;
}
.memo-paper .text {
    font-size: 20px;
}

[data-grid] {
    border: 1px solid;
    padding: 1em;   
}
